# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# Testes e cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/

# IDE / SO
.vscode/
.idea/
.DS_Store
